@import "tailwindcss";
@import "tailwindcss/utilities";

@font-face {
  font-family: "ByteBounce";
  src: url("/fonts/bytebounce.medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-size: 1.2rem;
}

@theme {
  --font-display: "ByteBounce", sans-serif;
  --color-star-50: #fffaf0;
  --color-star-100: #fff1d6;
  --color-star-200: #ffe7b8;
  --color-star-300: #ffd993;
  --color-star-400: #ffcc66;
  --color-star-500: #dbb570;
  --color-star-600: #c89a45;
  --color-star-700: #b08b46;
  --color-star-800: #8f6c38;
  --color-star-900: #6f4f28;

  --color-ocean-50: #f0f8ff;
  --color-ocean-100: #dfeeff;
  --color-ocean-200: #bfd9ff;
  --color-ocean-300: #99c2ff;
  --color-ocean-400: #66a8ff;
  --color-ocean-500: #4d8ff0;
  --color-ocean-600: #346fd1;
  --color-ocean-700: #2a548f;
  --color-ocean-800: #1f3b5f;
  --color-ocean-900: #16283c;

  --color-avocado-100: oklch(0.99 0 0);
  --color-avocado-200: oklch(0.98 0.04 113.22);
  --color-avocado-300: oklch(0.94 0.11 115.03);
  --color-avocado-400: oklch(0.92 0.19 114.08);
  --color-avocado-500: oklch(0.84 0.18 117.33);
  --color-avocado-600: oklch(0.53 0.12 118.34);
}

:root {
  font-family: var(
    --font-display,
    system-ui,
    Avenir,
    Helvetica,
    Arial,
    sans-serif
  );
  line-height: 1.5;
  font-weight: 400;
  /* font-size: 1rem; */

  color-scheme: light;
  color: var(--color-ocean-700);
  background-color: var(--color-star-50);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 0;
  padding: 0px 8px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

button:disabled {
  cursor: auto;
}

input[type="range"] {
  -webkit-appearance: none;
  overflow: hidden;
  height: 16px;
  outline: none;
  background: none;
}

/* input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 0;
  transition: 0.2s;
} */

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid var(--color-ocean-700);
  height: 16px;
  width: 12px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -6.5px;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  border: 1.5px solid var(--color-ocean-700);
  background: white;
}

@media (prefers-color-scheme: light) {
  :root {
  }

  /* a:hover {
    color: #747bff;
  } */
}
